# code format spec for clang-format
BasedOnStyle: Google
Standard: Cpp11
ColumnLimit: 90
IndentWidth: 4
DerivePointerAlignment : false
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
#AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AccessModifierOffset: -4
IndentCaseLabels: false
